basePath: /wls/v2
definitions:
  RequestKey:
    description: RequestKey struct defines input parameters to retrieve a key
    properties:
      hardware_uuid:
        type: string
        x-go-name: HwId
      key_url:
        type: string
        x-go-name: KeyUrl
    type: object
    x-go-package: github.com/intel-secl/intel-secl/v5/pkg/model/wls
  ReturnKey:
    description: ReturnKey to return key Json
    properties:
      key:
        items:
          format: uint8
          type: integer
        type: array
        x-go-name: Key
    type: object
    x-go-package: github.com/intel-secl/intel-secl/v5/pkg/model/wls
host: wls.com:5000
info:
  description: |-
    Workload Service resources are used to manage images, flavors and reports.
    Workload Service handles the mapping of the image ID to the appropriate key ID in the form of Flavors.
    When the encrypted image is used to launch new VM or container, WLA will request the decryption key from the Workload Service.
    Then Workload Service will initiate the key transfer request to the Key Broker.
  license:
    name: 'Copyright (C) 2021 Intel Corporation. SPDX-License-Identifier: BSD-3-Clause'
  title: Workload Service
  version: "2.2"
paths:
  /keys:
    post:
      consumes:
      - application/json
      description: |
        Gets and returns the wrapped key from KBS for given key url, if saml report from hvs for given host with hardware uuid is trusted.
      operationId: TransferKey
      parameters:
      - in: body
        name: request body
        required: true
        schema:
          $ref: '#/definitions/RequestKey'
      produces:
      - application/json
      responses:
        "201":
          description: Successfully return wrapped key from KBS
          schema:
            $ref: '#/definitions/ReturnKey'
      security:
      - bearerAuth: []
      tags:
      - Keys
      x-sample-call-endpoint: https://wls.com:5000/wls/v2/keys
      x-sample-call-input: |
        {
            "hardware_uuid": "ecee021e-9669-4e53-9224-8880fb4e4080"
            "key_url": "http://kbs.server.com:9443/v1/keys/73755fda-c910-46be-821f-e8ddeab189e9/transfer"
        }
      x-sample-call-output: |-
        {
         "key": "eyJpbnN0YW5jZV9tYW5pZmVzdCI6eyJpbnN0YW5jZV9pbmZvIjp7Imluc3RhbmNlX2lkIjoiN2Y4MDMwMTgtZjU2Zi00NWJiLTk0Mm
          EtODhmYjgzOGNhMjMxIiwiaG9zdF9oYXJkd2FyZV91dWlkIjoiODA4YjcwNmYtNTYzMS1lNTExLTkwNmUtMDAxMjc5NWQ5NmRkIiwiaW1hZ2VfaW
          QiOiIxMjAwMjQwMC1kMDZiLTRjOWItYWUzYi1hZDQ2MmNjZWI2NzQifSwiaW1hZ2VfZW5jcnlwdGVkIjp0cnVlfSwicG9saWN5X25hbWUiOiJJbn
          RlbCBDb250YWluZXIgUG9saWN5IiwicmVzdWx0cyI6W3sicnVsZSI6eyJydWxlX25hbWUiOiJFbmNyeXB0aW9uTWF0Y2hlcyIsIm1hcmtlcnMiOl
          siQ09OVEFJTkVSX0lNQUdFIl0sImV4cGVjdGVkIjp7Im5hbWUiOiJlbmNyeXB0aW9uX3JlcXVpcmVkIiwidmFsdWUiOnRydWV9fSwiZmxhdm9yX2
          lkIjoiNjkyMWM5NWQtMTRhOC00ZWE4LTk0OWQtZDMzOGQ4OGE0NDdmIiwidHJ1c3RlZCI6dHJ1ZX0seyJydWxlIjp7InJ1bGVfbmFtZSI6IkludG
          Vncml0eU1hdGNoZXMiLCJtYXJrZXJzIjpbIkNPTlRBSU5FUl9JTUFHRSJdLCJleHBlY3RlZCI6eyJuYW1lIjoiaW50ZWdyaXR5X2VuZm9yY2VkIiw
          idmFsdWUiOmZhbHNlfX0sImZsYXZvcl9pZCI6IjY5MjFjOTVkLTE0YTgtNGVhOC05NDlkLWQzMzhkODhhNDQ3ZiIsInRydXN0ZWQiOnRydWV9LHsi
          cnVsZSI6eyJydWxlX25hbWUiOiJGbGF2b3JJbnRlZ3JpdHlNYXRjaGVzIiwibWFya2VycyI6WyJmbGF2b3JJbnRlZ3JpdHkiXSwiZXhwZWN0ZWQiO
          nsibmFtZSI6ImZsYXZvcl90cnVzdGVkIiwidmFsdWUiOnRydWV9fSwiZmxhdm9yX2lkIjoiNjkyMWM5NWQtMTRhOC00ZWE4LTk0OWQtZDMzOGQ4OG
          E0NDdmIiwidHJ1c3RlZCI6dHJ1ZX1dLCJ0cnVzdGVkIjp0cnVlfQ==",
        }
  /version:
    get:
      description: |
        GetVersion is used to get the version of the application.
        Returns - The version of the application.
      operationId: GetVersion
      produces:
      - text/plain
      responses:
        "200":
          description: Successfully retrieved the version.
      tags:
      - Version
      x-sample-call-endpoint: https://wls.com:5000/wls/v2/version
      x-sample-call-output: |-
        Service Name: Workload Service
        Version: v3.4.0-0f0162ea
        Build Date: 2021-03-08T12:18:54+0000
responses:
  KeyResponse:
    description: KeyResponse response payload
    schema:
      $ref: '#/definitions/ReturnKey'
schemes:
- https
securityDefinitions:
  bearerAuth:
    description: Enter your bearer token in the format **Bearer &lt;token&gt;**
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
